body {
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 1em;
    background-image: url("/static/compassS.jpg");
    background-position: 0 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

li {
    margin-bottom: 0.5em;
}

blockquote {
    width: 20em;
    float: right;
    margin: 0 0 1.5em 1.5em;
    font-style: italic;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-size: 120%;
    line-height: 1.25;
}

input {
    font-size: 99%;
}

#logo {
    float: right;
    margin: 0 0 1.5em 3em;
}

#content {
    clear: both;
}

#copyright {
    float: left;
    width: 18em;
    margin-right: 1em;
    border-right: solid 1px #999999;
    padding-right: 1em;
    color: #222222;
}

#donate {
    background-image: url("http://old.mysociety.org/wp/wp-content/themes/mysociety/images/piggy.png");
    background-position: 0 1em;
    background-repeat: no-repeat;
    min-height: 56px;
    padding-left: 52px;
    float: right;
    width: 20em;
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

#col1 {
    float: left;
    width: 49%;
    clear: both;
}
#col2 {
    float: right;
    width: 49%;
}

#nipic {
    margin: 0 0 1em 1em;
}

#footer {
    clear: both;
    text-align: center;
    padding-top: 1em;
    border-top: solid 1px #999999;
}

form {
    clear: right;
    float: right;
    font-size: 125%;
    padding-left: 52px;
    width: 16em;
    margin-left: 1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#mapBox {
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
}
#map {
    width: 390px;
    height: 390px;
    border: solid 1px #999999;
}
.olControlAttribution {
    bottom: 3px !important;
}
