{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="description" content="MapIt: un servizio web che associa codici postali e punti geografici ad aree amministrative.">

    <title>{% block fulltitle %}{% block title %}{% endblock %} - MapIt{% endblock %}</title>

    <link href="{% static "mapit/css/mapit.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.css" %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "mapit/leaflet/leaflet.ie.css" %}" />
        <script src="{% static "mapit/js/html5shiv.min.js" %}"></script>
        <script src="{% static "mapit/js/respond.min.js" %}"></script>
    <![endif]-->
    <script src="{% static "mapit/js/reqwest.min.js" %}"></script>
    <script src="{% static "mapit/leaflet/leaflet.js" %}"></script>

{% if norobots %}
    <meta name="robots" content="noindex, follow">
{% endif %}

{% if GOOGLE_ANALYTICS %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</head>
<body id="mapit-mysociety-org" class="">

    <!-- OpenPolis/mySociety top strip -->
    <div id="mysociety-org-bar">

        <a class="mysociety-home-link" href="http://www.openpolis.it/">
            <img src="{% static "mapit/img/openpolis-tool.png" %}" alt="MapIt-it è un progetto no-profit di Openpolis" height="32">
        </a>

        <a class="mysociety-donate-link" href="http://associazione.openpolis.it/sostienici/dona/">
            <img src="{% static "mapit/img/page-top-donate.png" %}"
                 alt="{% trans "Keep us online, Donate Now" %}" width="160" height="32">
        </a>

    </div>


    {% if request.path != '/' %}
    <header class="header">
        <a class="docs_link" href="{% url "mapit_index" %}"><img src="{% static "mapit/img/home-icon.png" %}" alt="" width="16" height="14" />{% trans "Home &amp; Documentation" %}</a>
        <h1><a href="{% url "mapit_index" %}">Map<em>It</em><em class="mapit-type">: {% include "mapit/country.html" %}</em></a></h1>
    </header>

    <article class="content">
    {% endif %}
    {% block content %}
    {% endblock %}
    {% if request.path != '/' %}
    </article>
    {% endif %}

    <footer class="footer" role="contentinfo">
        <h1 style="min-width:26%">Map<em>It</em><em class="mapit-type">: {% include "mapit/country.html" %}</em>
            <br/>
            <span style="font-size: 14px">{% trans "Powered by" %} </span><a href="http://www.djangoproject.com/">
                <img align="middle" style="width: 120px; margin-bottom: 10px;"
                     src="{% static "mapit/img/django-logo-negative.svg" %}"
                     border="0" alt="{% trans "Django powered" %}"></a>
        </h1>

        <div class="database-credits">
            {% include "mapit/copyright.html" %}
        </div>

    </footer>

</body>
</html>

