{% load i18n %}
<p>
    {% blocktrans trimmed %}
    Boundaries administrative data are released by <a href="http://www.istat.it">ISTAT</a>
    and downloadable in SHP format from
    <a href="http://www.istat.it/storage/basi_territoriali_2013/LimAmm2011_WGS84.zip">this link</a>.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    The <a href="http://mapit.poplus.org/">MapIt</a> platform has been developed by
    <a href="http://www.mysociety.org">MySociety</a>, a UK registered charity
    with which Openpolis cohoperate on transparency projects since years.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    The application is released within the
    <a href="http://poplus.org">Poplus</a> project.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    The maps are powered by <a href="https://www.openstreetmap.org">Openstreetmap</a>,
    a the <a href="http://nominatim.openstreetmap.org/">nominatim</a>
    geo-localization service used to identify the centroid coordinates for postal codes.
    {% endblocktrans %}
</p>
