include LICENSE.txt README.rst
recursive-include project *.py
recursive-include mapit *.html *.json *.sql
recursive-include mapit/static *
recursive-include data *.csv *.sql
recursive-include mapit_gb *.html *.json *.sql
recursive-include mapit_no *.html *.json *.sql
recursive-include mapit_it *.html *.json *.sql
recursive-include mapit_za *.html *.json *.sql
recursive-include mapit_global *.html *.json *.sql

