Django==1.11.14
PyYAML==3.12
Shapely==1.6.4
gunicorn==19.9.0
numpy==1.14.5
psycopg2==2.7.5
uk-postcode-utils==1.0

# Keep pygdal at the same minor version as the system gdal package
pygdal==1.11.5.3

python-memcached==1.59
six==1.11.0
wsgiref==0.1.2

raven==6.9
