<p>This database contains Ordnance Survey data © Crown copyright and database right 2010;
<a href="http://www.nisra.gov.uk/">NISRA</a> data © Crown copyright;
Royal Mail data © Royal Mail copyright and database right 2010 (Code-Point Open);
Office for National Statistics data © Crown copyright and database right 2010 (ONSPD) and © Crown copyright 2004 (Super Output Areas).
</p>

<p>Great Britain non-SOA data may be used under the terms of the
    <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/licence/">OS OpenData licence</a> (PDF).
<br>Northern Ireland boundaries may be used under the
    <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/open-government-licence.htm">Open Government Licence</a>.
<br>Northern Ireland postcode data may be used under the terms of the
    <a href="http://www.ons.gov.uk/ons/guide-method/geography/products/postcode-directories/-nspp-/onspd-open-licence.doc">ONSPD licence</a> (Word).
<br>Great Britain Output Area and Super Output Area data may presumably be used under OS OpenData and the
    <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/open-government-licence.htm">Open Government Licence</a>.
</p>

