{% load i18n %}
<li{% if indent_areas %} class="{{ area.css_indent_class }}"{% endif %}>
    <h3><a href="{% url "mapit_index" %}area/{{ area.id }}.html">{{ area.name }}</a></h3>
    <p>ID {{ area.id }}, {{ area.type.description }}
        <small>({{ area.type.code }})</small>, {{ area.country }}</p>
    {% if area.parent_area %}
    {% url "mapit_index" as index_url %}
    {% with area.parent_area.id|slugify as area_id %}
    <p>{% blocktrans with name=area.parent_area.name url=index_url|add:"area/"|add:area_id|add:".html" %}A child of <a href="{{ url }}">{{ name }}</a>.{% endblocktrans %}</p>
    {% endwith %}
    {% endif %}
</li>
