{% extends "mapit/base.html" %}

{% block title %}{{ area.name }}{% endblock title %}

{% block content %}

<h2>{{ area.name }}</h2>
<a href="{% url mapit_index %}area/{{ area.id }}">JSON of this data</a>

{% if area.polygons.count and show_geometry %}
<div id="mapBox"><div id="map"></div></div>
<script>
    var map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());
    var area = new OpenLayers.Layer.Vector("KML", {
        strategies: [ new OpenLayers.Strategy.Fixed() ],
        protocol: new OpenLayers.Protocol.HTTP({
            url: "{% url mapit_index %}area/{{ area.id }}.kml?simplify_tolerance=0.0001",
            format: new OpenLayers.Format.KML()
        })
    });
    map.addLayer(area);
    area.events.register('loadend', null, function(a,b,c) {
    	map.zoomToExtent(area.getDataExtent());
    });

</script>
{% endif %}

<p>ID {{ area.id }},
generations {{ area.generation_low.id }}&ndash;{{ area.generation_high.id }},
type {{ area.type.description }} <small>({{ area.type.code }})</small>,
{{ area.country }}.
{% if area.parent_area %}
A child of <a href="{% url mapit_index %}area/{{ area.parent_area.id }}.html">{{ area.parent_area.name }}</a>.
{% endif %}
</p>

<p>
{% if area.polygons.count or area.postcodes.count %}
<a href="{% url mapit_index %}area/{{ area.id }}/example_postcode.html">Example postcode</a>
{% endif %}
{% if area.polygons.count and show_geometry %}
| <a href="{% url mapit_index %}area/{{ area.id }}/geometry">Geometry (<small>JSON</small>)</a>
| <a href="{% url mapit_index %}area/{{ area.id }}.wkt">WKT</a>,
<a href="{% url mapit_index %}area/{{ area.id }}.geojson">GeoJSON</a>,
<a href="{% url mapit_index %}area/{{ area.id }}.kml">KML</a>
(<a href="http://maps.google.co.uk/maps?q=http://{{ request.META.HTTP_HOST }}{% url mapit_index %}area/{{ area.id }}.kml">on a Google Map</a>)
{% endif %}
{% if area.children.count %}
| <a href="{% url mapit_index %}area/{{ area.id }}/children.html">Children</a>
{% endif %}
{% if area.polygons.count and show_geometry %}
<br>Areas: <a rel="nofollow" href="{% url mapit_index %}area/{{ area.id }}/touches.html">Touching</a>
| <a rel="nofollow" href="{% url mapit_index %}area/{{ area.id }}/overlaps.html">Overlapping</a>
| <a rel="nofollow" href="{% url mapit_index %}area/{{ area.id }}/covers.html">Covered</a>
| <a rel="nofollow" href="{% url mapit_index %}area/{{ area.id }}/covered.html">Covered by</a>
| <a rel="nofollow" href="{% url mapit_index %}area/{{ area.id }}/coverlaps.html">Covered or overlapping</a>
{% endif %}

<h3>Codes</h3>

<ul>
{% for code_type, code, code_link in codes %}
<li>{{ code_type }}:
{% if code_link %}
<a href="{{ code_link }}">{{ code }}</a>
{% else %}
{{ code }}
{% endif %}
{% empty %}
<li>No codes found.
{% endfor %}
</ul>

{% endblock %}
