{% load i18n %}
<section id="usage-licence">

<h3>{% trans "Usage &amp; Licence" %}</h3>

{% blocktrans trimmed %}
<p>To maintain quality of service for our own websites, as well as our
API users, this service is rate limited to an average of 1 call per
second in a rolling 3 minute period.</p>
{% endblocktrans %}

{% blocktrans trimmed %}
<p>If you use this service, we ask that you attribute MapIt at the point of use
on sites or apps. Attribution should use the text &ldquo;Powered by
MapIt&rdquo;, with a link back to this page.</p>
{% endblocktrans %}

</section>
