{% extends "mapit/base.html" %}

{% block fulltitle %}
    MapIt : map postcodes and geographical points to administrative areas
{% endblock %}

{% block content %}

    <!-- Main header -->
    <header class="header homepage">

    <!--
        <a class="mapit-cross-sell global" href="index.html#TODO-global_url">
            <img src="{% url mapit_index %}static/mapit/img/global-cross_sell.png" alt="Now Available MapIt Global" width="146" height="32">
        </a>
    -->

        <h1>Map<em>It</em><em class="mapit-type">: UK</em></h1>

        <p>MapIt is a service that maps UK postcodes and geographical points to
        administrative areas. It&rsquo;s useful for anyone who needs to turn a
        longitude/latitude or a postcode into the name or boundaries of a
        council, constituency, region, or more. </p>

        <p>Non-commercial, low-volume use of this service is free &ndash;
        <a href="#usage-licence">read the licence</a>. You can also
        <a href="https://github.com/mysociety/mapit">download the source
         on Github</a>. Need a commercial licence?
        <a href="http://www.mysociety.org/contact/">Get in touch</a>.</p>

    </header>

    <!-- Try out MapIt postcode bar -->
    <div id="try-mapit">
        <form method="post" action="{% url mapit_index %}postcode/">
            <label for="try-mapit-pc">Try it out, enter a UK postcode:</label>
            <input type="text" name="pc" id="try-mapit-pc">
            <input class="btn" type="submit" value="Look up">
        </form>
    </div>

    <article id="api-docs">

        <header>

            <h2>MapIt API</h2>

            <nav class="toc">

                <p>Lookups</p>
                <ol>
                    <li><a href="#api-by_postcode">by <strong>Postcode</strong></a></li>
                    <li><a href="#api-by_partial_postcode">by <strong>Partial Postcode</strong></a></li>
                    <li><a href="#api-by_point">by <strong>Point</strong></a></li>
                    <li><a href="#api-by_area_id">by Area ID</a></li>
                    <li><a href="#api-multiple_areas"><strong>Multiple Areas</strong></a></li>
                    <li><a href="#api-generations"><strong>Generations</strong></a></li>
                </ol>

                <p>Information</p>
                <ul>
                    <li><a href="#about-mapit"><strong>About MapIt</strong></a></li>
                    <li><a href="#usage-licence"><strong>Usage &amp; Licence</strong></a></li>
                    <li><a href="http://github.com/mysociety/mapit/"><strong>Source Code</strong></a></li>
                </ul>

            </nav>

        </header>

        <section id="api-by_postcode">
            <h3><em>lookup by</em> postcode</h3>
            <dl>
                <dt>URL:</dt>
                <dd> /postcode/<em>[postcode]</em> </dd>

                <dt>Returns:</dt>
                <dd>
                    <p>Information on a particular postcode, including its
                    location in both National Grid and WGS84
                    latitude/longitude, and the areas it is contained
                    within.</p>
                </dd>

                <dt>Optional query parameters:</dt>
                <dd>
                    <p><i>generation</i>, to return results from a previous generation.</p>
                </dd>

                <dt>Example:</dt>
                <dd>
                    <p>If your postcode was <em>SW1A 1AA</em> you would load
                        <a href="{% url mapit_index %}postcode/SW1A1AA">/postcode/SW1A1AA</a>
                    </p>
                    <p>
                        By default the response is in JSON, if you want a human readable page then append ‘<em>.html</em>’ to the url
                        <a href="{% url mapit_index %}postcode/SW1A1AA.html">/postcode/SW1A1AA.html</a>
                    </p>
                </dd>
            </dl>
        </section>

        <section id="api-by_partial_postcode">
            <h3><em>lookup by</em> partial postcode</h3>

            <dl>
                <dt>URL:</dt>
                <dd> /postcode/partial/<em>[partial postcode]</em> </dd>

                <dt>Returns:</dt>
                <dd>
                    <p>The same as <a href="#api-by_postcode">by Postcode</a> except information is based on the centroid of a postcode band rather than a specific address.</p>
                </dd>

                <dt>Example:</dt>
                <dd>
                    <p>If your postcode was <em>SW1A 1AA</em> you would load <br>
                        <a href="{% url mapit_index %}postcode/SW1A1AA">/postcode/SW1A1AA</a>
                    </p>
                    <p>
                        By default the response is in JSON, if you want a human readable page then append ‘<em>.html</em>’ to the url <br>
                        <a href="{% url mapit_index %}postcode/SW1A1AA.html">/postcode/SW1A1AA.html</a>
                    </p>
                </dd>
            </dl>
        </section>

        <section id="about-mapit">
            <h3>About MapIt</h3>

            <p>All calls below are made to http://mapit.mysociety.org/ and return JSON
            (on some calls, stick .html on the end for an HTML version). By default, calls
            will return active areas; for some calls you may specify a previous generation
            to look up instead. The main difference in generation 12 is that it contains
            the pre-2010 England and Wales Parliamentary constituencies; generation 14
            contains the pre-2011 Scottish Parliament constituencies. Only current Northern
            Ireland constituencies are present; if you need pre-2010 UK Parliament NI
            constituencies, or pre-2011 Northern Ireland Assembly constituencies, you can
            work it out from the wards and the 2003 SNAC file in the data/ directory.

            Whenever an area is returned from MapIt, it is as a dictionary with the
            following keys: id, name, country, type, parent_area, generation_low,
            generation_high, codes.</p>

        </section>

        <section id="usage-licence">
            <h3>Usage &amp; Licence</h3>
            <p>
            </p>
        </section>

    </article>

{% endblock %}
