{% load i18n %}
{% if postcodes_available %}
{% blocktrans trimmed %}
<p>MapIt is a service that maps postcodes and geographical points to
administrative areas. It&rsquo;s useful for anyone who has the co-ordinates of
a particular point, and needs to find out what regions it lies within.
It&rsquo;s also great for looking up the shapes of all those boundaries.</p>
{% endblocktrans %}
{% else %}
{% blocktrans trimmed %}
<p>MapIt is a service that maps geographical points to administrative areas.
It&rsquo;s useful for anyone who has the co-ordinates of a particular point,
and needs to find out what regions it lies within. It&rsquo;s also great for
looking up the shapes of all those boundaries.</p>
{% endblocktrans %}
{% endif %}

{% blocktrans trimmed %}
<p>You can <a href="https://github.com/mysociety/mapit">download the source
    on Github</a>.</p>
{% endblocktrans %}
