{% extends "mapit/base.html" %}

{% block title %}Results for &ldquo;{{ postcode.postcode }}&rdquo;{% endblock title %}

{% block content %}

<h2>{{ postcode.postcode }}</h2>
<a href="{{ json }}{{ postcode.postcode|urlencode }}">JSON of this data</a>

{% if postcode.wgs84_lat or postcode.wgs84_lon %}
<div id="mapBox"><div id="map"></div></div>
<script>
    var map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());
    var point = new OpenLayers.LonLat({{ postcode.wgs84_lon }}, {{ postcode.wgs84_lat }})
        .transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        );
 
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(point));
    map.setCenter(point, 14);
</script>
{% endif %}

<ul>
{% if postcode.coordsyst %}
<li>{% ifequal postcode.coordsyst "G" %}OSGB{% else %}IRE65{% endifequal %}
E/N: {{ postcode.easting }}, {{ postcode.northing }}
{% endif %}
{% if postcode.wgs84_lat or postcode.wgs84_lon %}
<li>WGS84 lat/lon: <a href="http://maps.google.co.uk/maps?q=loc:{{ postcode.wgs84_lat }},{{ postcode.wgs84_lon }}">{{ postcode.wgs84_lat }}, {{ postcode.wgs84_lon }}</a>
{% else %}
<li>No location information. Note this <em>is</em> a valid postcode (otherwise you would have got a 404), just one for which we don&rsquo;t know the location.
{% endif %}
</ul>

<h3>Areas</h3>
{% include "mapit/areas.html" %}

{% endblock %}
