{% extends "mapit/base.html" %}
{% load url from compat %}

{% block title %}Results for &ldquo;{{ postcode.postcode }}&rdquo;{% endblock title %}

{% block content %}

<header class="area_info">
    <h2>{{ postcode.postcode }}</h2>
    <ul>
{% if postcode.coordsyst %}
<li>{% ifequal postcode.coordsyst "G" %}OSGB{% else %}IRE65{% endifequal %}
E/N: {{ postcode.easting }}, {{ postcode.northing }}
{% endif %}
{% if postcode.wgs84_lat or postcode.wgs84_lon %}
<li>WGS84 lat/lon: <a href="http://toolserver.org/~geohack/geohack.php?params={{ postcode.wgs84_lat }};{{ postcode.wgs84_lon }}">{{ postcode.wgs84_lat }}, {{ postcode.wgs84_lon }}</a>
{% else %}
<li>No location information. Note this <em>is</em> a valid postcode (otherwise you would have got a 404), just one for which we don&rsquo;t know the location.
{% endif %}
    </ul>
    <p>Get <a href="{% url json_view postcode=postcode.postcode %}">this data as JSON</a></p>
</header>

{% if postcode.wgs84_lat or postcode.wgs84_lon %}
<div id="map"></div>
<script>
    var map = new L.Map("map");
    var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © OpenStreetMap contributors',
        maxZoom: 18
    });

    var point = new L.LatLng({{ postcode.wgs84_lat }}, {{ postcode.wgs84_lon }});
    var marker = new L.Marker(point);
    map.addLayer(marker);
    map.setView(point, 14);
    map.addLayer(osm);
</script>
{% endif %}

<section class="details">
<h3>Areas</h3>
{% include "mapit/areas.html" %}
</section>

{% endblock %}
