* {
         -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    color: #222;
    background: #1f1f1f url(../img/page-top-grad.png) repeat-x scroll left top;
}

body {
    @media (min-width: 60em) {
        width: 60em;
    }
    @media (min-width: 63.75em) {
        width: 63.75em;
    }
    max-width: 100%;
    margin: 0 auto;
}

@mixin full_grid($initial_padding_left:0, $initial_padding_right:0) {
    @media (min-width: 63.75em) {
        padding-left: $initial_padding_left + 1.875em;
        padding-right: $initial_padding_right + 1.875em;
    }
    background-color: #fff;
}
