@font-face {
    font-family: 'MuseoSlab500';
    src: url("../fonts/exljbris-museoslab-500.eot");
    src: url("../fonts/exljbris-museoslab-500.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris-museoslab-500.woff") format("woff"), url("../fonts/exljbris-museoslab-500.ttf") format("truetype"), url("../fonts/exljbris-museoslab-500.svg#MuseoSlab500") format("svg");
    font-weight: normal;
    font-style: normal;
}