{% extends "mapit/base.html" %}

{% block title %}Usage and licensing{% endblock title %}

{% block content %}

<h2>Technical queries</h2>

<p>Questions about how MapIt works, or the data? Drop a line to
<a href="mailto:mapit&#64;mysociety.org">mapit&#64;mysociety.org</a>.</p>

<h2>Terms of usage</h2>
<p>
    Low volume, charitable use of the API is free. This means direct use by
    registered charities, or individuals pursuing a non&ndash;profit project on an
    unpaid basis, with a volume of up to 50,000 calls per year. All other use
    requires a licence, as a contribution towards the costs of providing this
    service. Please email us at
    <a href="mailto:enquiries&#64;mysociety.org">enquiries&#64;mysociety.org</a>
    if your usage is likely to fall into the non&ndash;free bracket:
    <strong>unlicensed users may be blocked without warning</strong>.
</p>

<h2>Pricing</h2>
<p>
    &pound;500 per year for up to 50,000 calls (free for charitable usage)<br/>
    &pound;1000 per year for up to 100,000 calls<br/>
    &pound;2000 per year for up to 200,000 calls<br/>
    &pound;2500 per year for up to 300,000 calls<br/>
    &pound;3000 per year for up to 500,000 calls<br/>
    More than 500,000 calls, <a href="mailto:enquiries&#64;mysociety.org">get in touch</a><br/>
</p>
<p>In addition, we offer a 50% discount on the above rates for charitable usage.</p>

<h2>Credits</h2>

<p>Please attribute us with the text “Powered by Mapit” and a link back to the MapIt
front page.</p>

<h2>Rate limiting</h2>

<p>The standard paid service is limited to an average of 1 call per second in a
rolling 3 minute period. If you need more than this, we can set you up a
dedicated service. Please <a href="mailto:enquiries&#64;mysociety.org">get in touch</a>.</p>

<h2>Self&ndash;installed versions of MapIt</h2>

<p>Some organisations prefer to install their own internal version on MapIt. We
are happy to help with this. Depending on your needs, we can advise your
technical team on how to do this, or our developers can install it for you (for a fee).</p>

<h2>One&ndash;off data range searches</h2>

<p>We also offer one&ndash;off look&ndash;ups for large data sets &ndash; this is useful when you
don’t need to use the API but simply have data that you need matched (e.g. a
list of postcodes to match to the constituencies they fall into). We can do
this for you &ndash; <a href="mailto:enquiries&#64;mysociety.org">ask us for a quote</a>.</p>

<h2>Geometry files</h2>

<p>If you need to use the API to download the MapIt geometry files, you can do
so for free for up to 50,000 files if you are a registered UK charity or an
individual working on a non&ndash;profit project. If you are not, or need more than
50,000 files, we can licence them to you. </p>

<p>
    <strong>For all enquiries about licensing, please
    <a href="mailto:enquiries&#64;mysociety.org">drop us a line</a> with some
    information about what you’re looking to do, and we’ll get in touch to
    discuss how we can help you.</strong>
</p>

{% endblock %}
