.content--with-sidebar {
    header {
        margin-left: -0.625em;
        margin-right: -0.625em;
        margin-top: -0.625em;
        padding: 0.625em 1.25em;
        @media (min-width: 40em) {
            padding: 0.625em;
            width: 12em;
            margin: 0;
            float: left;
        }
        @media (min-width: 60em) {
            width: 13.75em;
            float: left;
            margin-top: -5em;
        }

        background-color: #333333;
        color: #fff;

        h2 {
            color: #fff;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        ol,ul {
            @include resetlist;
            display: block;
            padding-bottom: 1.5em;
        }

        p {
            margin: 0;
            color: #797979;
        }

    }

    section {
        @media (min-width: 40em) {
            padding-left: 13.5em;
        }
        @media (min-width: 60em) {
            float: right;
            clear: right;
            width: 43.75em;
            padding-left: 0;
            & > p {
                clear: left;
            }
        }
        line-height: 1.5em;

        h3 {
            font-size: 1.5em;
            @media (min-width: 60em) {
                width: 10em;
                float: left;
            }

            em {
                color: #999;
                display: block;
                font-size: 0.5em;
                font-style: normal;
            }
        }
        dl {
            line-height: 1.5em;
            padding: 0 0.625em 0.625em 0.625em;
            @media (min-width: 60em) {
                width: 28.75em;
                float: right;
                padding: 1.5em 0 0.625em 0;
            }

            dt {
                font-weight: bold;
                color: #99cc33;
            }

            dd {
                margin: 0 0 1.5em 0;
                p {
                    margin: 0;
                    margin-bottom: 1.5em;
                }
            }

            a {
                color: #333;
                font-weight: bold;
            }

        }

    }

    a[href="#api-by_postcode"]:hover,
    #api-by_postcode dt
    { color: #cc9933; }

    a[href="#api-by_partial_postcode"]:hover,
    #api-by_partial_postcode dt
    { color: #99cc33; }

    a[href="#api-by_point"]:hover,
    #api-by_point dt,
    a[href="#api-nearest"]:hover,
    #api-nearest dt
    { color: #33ccbf; }

    a[href="#api-by_area_id"]:hover,
    #api-by_area_id dt,
    a[href="#api-related_areas"]:hover,
    #api-related_areas dt
    { color: #3369cc; }

    a[href="#api-multiple_areas"]:hover,
    #api-multiple_areas dt
    { color: #8d33cc; }

    a[href="#api-generations"]:hover,
    #api-generations dt
    { color: #cc3369; }

}
