.footer{
    @include full_grid;
    @include clearfix;
    background-color: #3c3d4d;
    padding: 1.25em 0.625em;
    color: #97a5b1;
    
    h1{
        display: block;
        width: 4.583em;
        float: left;
        font-family: 'MuseoSlab500', sans-serif;
        font-size: 3em;
        padding: 1em 0.21em;
        margin: 0;
        font-weight: normal;
        color: #ffffff;
        a{
            color: #ffffff;
            text-decoration: none;
            font-weight: inherit;
        }
        em{
            font-style: normal;
            color: #e5e5e5;
            &.mapit-type{
                font-size: 0.5em;
                color: #948994;
            }
        }
    }
    
    .database-credits{
        display: block;
        float: right;
        width: 43.75em;
        p{
            font-size: 0.875em;
        }
    }
    
    
    a{
        color: #cadaea;
        &:hover{
            color: #fff;
        }
    }
}