$mysoc-footer-background-color: #3c3d4d;
$mysoc-footer-text-color: #97a5b1;
$mysoc-footer-site-name-text-color: #fff;

$mysoc-footer-link-text-color: #cadaea;
$mysoc-footer-link-hover-text-color: #fff;

$mysoc-footer-divider-color: lighten($mysoc-footer-background-color, 10%);

$mysoc-footer-donate-background-color: lighten($mysoc-footer-background-color, 5%);
$mysoc-footer-donate-text-color: #fff;
$mysoc-footer-donate-button-background-color: #E04B4B;

$mysoc-footer-legal-text-color: inherit;

$grid-gutter: 2em;
$grid-breakpoint-sm: 768px;

.mysoc-footer {
  .container {
    padding: 0 2em;

    @media (min-width: 63.75em) {
      padding: 0 3em;
    }
  }

  .row {
    @include clearfix;
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;
  }

  %col {
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
    min-height: 1px;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @extend %col;
    }
  }

  @media(min-width: $grid-breakpoint-sm) {
    %col-float {
      float: left;
    }

    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        @extend %col-float;
        width: 100% / 12 * $i;
      }
    }
  }

  hr {
    border-width: 1px 0 0 0;
  }

  p {
    margin-top: 0;
  }

  .mapit-copyright {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 3em;
  }
}

@import "mysoc-footer";
