.footer{
    @include full_grid;
    @include clearfix;
    background-color: #3c3d4d;
    padding: 1.25em 0.625em;
    color: #97a5b1;
    
    h1{
        display: block;
        padding: 0.21em;
        @media (min-width: 60em) {
            width: 4.583em;
            float: left;
            padding: 0.33em 0.21em;
        }
        max-width: 100%;
        
        margin: 0;
        a{
            color: #ffffff;
            text-decoration: none;
            font-weight: inherit;
        }
        em{
            font-style: normal;
            color: #e5e5e5;
            &.mapit-type{
                font-size: 0.5em;
                color: #948994;
            }
        }
    }
    
    .database-credits{
        display: block;
        @media (min-width: 60em) {
            float: right;
            width: 43.75em;
        }
        p{
            font-size: 0.875em;
        }
    }
    
    
    a{
        color: #cadaea;
        &:hover{
            color: #fff;
        }
    }
}
