.header{
    @include full_grid;
    
    background: #bfb9c8 url(../img/global-header.jpg) no-repeat scroll 50% 87%;
    border-bottom: #948994 0.5em solid;
    
    @media (min-width : 60em) {
        padding-top: 2em;
        padding-left: 20em;
        padding-right: 5em;
        padding-bottom: 1em;
    }
    
    h1{
        font-family: 'MuseoSlab500', sans-serif;
        font-size: 3em;
        padding: 0 0.21em;
        margin: 0;
        font-weight: normal;
        color: #ffffff;
        a{
            color: #ffffff;
            text-decoration: none;
            font-weight: inherit;
        }
        em{
            font-style: normal;
            color: #e5e5e5;
            &.mapit-type{
                font-size: 0.5em;
                color: #948994;
            }
        }
    }
    
    &.homepage{
        background: #bfb9c8 url(../img/global-header.jpg) no-repeat scroll center bottom;
        border-bottom: none;
        @media (min-width : 60em) {
            padding-top: 1.5em;
            padding-left: 25em;
            padding-right: 5em;
            padding-bottom: 2em;
        }
        h1{
            color: #333333;
            em{
                color: #404040;
                &.mapit-type{
                font-size: 0.5em;
                color: #948994;
            }
            }
        }
    }
    
    
    
    
    p{
        padding: 0 0.625em;
        line-height: 1.5em;
        color: #666666;
    }
    
    a{
        color: #333333;
        font-weight: bold;
    }
    
    a.docs_link{
        float: right;
        font-size: 0.875em;
        line-height: 3.42857em*1.5;
        text-decoration: none;
        font-weight: normal;
        font-family: 'Verdana', sans-serif;
        color: #605360;
        
        &:hover{
            color: #3e353e;
        }
    }
}