.header {
    @include full_grid;

    border-bottom: #948994 0.5em solid;
    background-image: none;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    background-color: #bfb9c8;

    @media (min-width: 55em) {
        padding-top: 2em;
        background: #bfb9c8 url(../img/global-header.jpg) no-repeat scroll right 87%;
        padding-left: 20em;
        padding-right: 5em;
        padding-bottom: 1em;
    }

    h1 {
        padding: 0 0.21em;
        margin: 0;
        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: inherit;
        }
        em {
            font-style: normal;
            color: #e5e5e5;
            &.mapit-type {
                font-size: 0.5em;
                color: #948994;
            }
        }
    }

    &.homepage {
/*
        background: #bfb9c8 url(../img/global-header.jpg) no-repeat scroll center bottom;
        border-bottom: none;
        @media (min-width: 60em) {
            padding-top: 1.5em;
            padding-left: 25em;
            padding-right: 5em;
            padding-bottom: 2em;
        }

*/

        border-bottom: #948994 0.5em solid;
        background-image: none;
        background-color: #bfb9c8;
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;

        @media (min-width: 32.8125em) {
            background: #bfb9c8 url(../img/global-header-large.jpg) no-repeat scroll center 74%;
            padding-top: 2em;
            padding-left: 15em;
            padding-right: 2em;
        }

        @media (min-width: 43.5em) {
            padding-top: 1.5em;
            padding-left: 20em;
            padding-right: 2em;
            padding-bottom: 2em;
        }

        @media (min-width: 55em) {
            padding-top: 1.5em;
            padding-left: 25em;
            padding-right: 5em;
            padding-bottom: 2em;
        }

        h1 {
            color: #333333;
            em {
                color: #404040;
                &.mapit-type {
                    font-size: 0.5em;
                    color: #948994;
                }
            }
        }
    }




    p {
        padding: 0 0.625em;
        line-height: 1.5em;
    }

    a {
        color: #333333;
        font-weight: bold;
    }



    a.docs_link {
        float: none;
        clear: both;
        margin: 0 auto;
        font-size: 0.875em;
        text-decoration: none;
        font-weight: normal;
        font-family: 'Verdana', sans-serif;
        color: #605360;

        &:hover {
            color: #3e353e;
        }
    }

    @media (min-width: 32.8125em) {
    	a.docs_link {
            float: right;
            clear: none;
            line-height: 3.42857em*1.5;
        }
    }
}
