#mysociety-org-bar {
    @include full_grid;
    background-color: transparent;
    text-align: center;

    a {
        padding: 0;
        margin: 0;

        img {
            padding: 0;
            margin: 0;
            vertical-align: top;
            max-width: 100%;
        }
        &.mysociety-donate-link {
            display: none;
        }
        @media (min-width: 32.625em) {
            text-align: right;
            &.mysociety-home-link img {
                float: left;
            }
            &.mysociety-donate-link {
                display: block;
            }
        }
    }
}
