#try-mapit {
    @include full_grid(25em, 0.625em);
    background-color: #948994;
    padding: 1em 0.625em;
    @media (min-width: 60em) {
        padding: 1em 0.625em 1em 25em;
    }
    color: #383838;
    form {
        padding: 0 0.625em;
    }
    input {
        padding: (0.625em/2);
        margin-left: 0.625em;
        display: inline-block;
        border: none;
        @include border-radius(0.625em/2);
        vertical-align: middle;
    }

    .btn {
        background-color: #333333;
        border-top: 1px solid #333;
        color: #fff;
        padding: (0.625em/2) 0.625em*2;
        font-family: 'MuseoSlab500', sans-serif;
    }

}
