.content {
    @include full_grid;
    @include clearfix;
    padding: 0.625em;
    padding-bottom: 2.5em;
    line-height: 1.5em;
}

h2 {
    .area_id {
        font-style: normal;
        color: #666666;
        font-size: 0.5em;
        font-weight: bold;
        font-family: 'Verdana', sans-serif;
    }
}

header.area_info {
    @media (min-width: 30em) {
        float: right;
        width: 50%;
        // To not stick to the map at middle widths
        padding: 0 0 0 1em;
    }
    display: block;
}

#map {
    margin: 1em 0;
    @media (min-width: 30em) {
        width: 50%;
        margin: 1.25em 0;
    }

    @media (min-width: 60em) {
        width: 28.75em;
    }
    width: 100%;
    height: 28.75em;
    float: left;
    border: solid 1px #999999;
}
#leaflet {
    width: 100%;
    height: 100%;
}

.language-name {
    font-style: italic
}

.details {
    padding: 1em 0 2.5em 0;
    clear: both;

/*
    @media (min-width: 30em) {
        width: 50%;
        clear: none;
        float: right;
        padding: 1em 0.625em 2.5em 0.625em;
    }
*/

    @media (min-width: 60em) {
        float: right;
        clear: none;
        width: 28.75em;
        padding:1em 0 2.5em 0;
    }
    max-width: 100%;

    h3 {
        font-size: 1.3125em;
        margin-top: 0;
    }

    &>ul {
        @include resetlist;
        //margin-top: 2.5em;
        &>li {
            display: block;
            width: 13.75em;
            float: left;
        }
        ul {
            list-style-position: outside;
            list-style-type: disc;
            margin-left: 0em;
            padding-left: 1.25em;
        }
    }
}
