.area_view{
    
    @extend .area_list;
    @include clearfix;
    line-height: 1.5em;
    
    color: #666666;
    h3{
        font-family: 'MuseoSlab500', sans-serif;
        color: #333;
        font-weight: normal;
        font-size: 1.3125em;
        margin-top: 0;
    }
    
    section.map{
        width: 30em;
        padding:2.5em 0.625em;
        float: left;
    }
    
    section.details{
        width: 30em;
        padding: 2.5em 0.625em;
        float: right;
        &>ul{
            @include resetlist;
            margin-top: 2.5em;
            &>li{
                display: block;
                width: 13.75em;
                float: left;
            }
            ul{
                list-style-position: outside;
                list-style-type: disc;
                margin-left: 0em;
                padding-left: 1.25em;
            }
        }
    }
}