{% extends "mapit/base.html" %}

{% block title %}Changelog{% endblock title %}

{% block content %}

<h2>Current status</h2>
<ul>
    <li><strong>Code-Point:</strong> November 2014 edition.

    <li><strong>Boundary-Line:</strong> October 2014 edition.

    <li><strong>Super Output Areas:</strong> The 2001 Super Output Areas for
    England and Wales from ONS, both full and generalised; the 2001 NI Output
    Areas and Super Output Areas from NISRA.

    <li><strong>Welsh community wards:</strong> A one-off import from October
    2012, not updated since.

</ul>

<h2>Changelog</h2>
<p>Changes to MapIt UK’s data</p>

<h3>2014-12-05 - October 2014 Boundary-Line import</h3>

<em>Generation 23</em>, containing the import of the October 2014
Boundary-Line. This edition reverted all the Torfaen changes from May 2014,
returning the Torfaen communities and electoral districts to as they were in
the October 2013 edition.

<h3>2014-10-14 - Torfaen council changes</h3>

<p>A one-off script was run to fix up some of the changes to Torfaen
wards/communities in the May 2014 edition of Boundary-Line that should not
have been present.</p>

<p><a href="http://www.legislation.gov.uk/wsi/2013/2156/contents/made">
http://www.legislation.gov.uk/wsi/2013/2156/contents/made</a> is the source
for all of this. Specifically, section 2 saying that articles 5, 6 and 10
don't come into operation until before the next election, which is 2017.</p>

<p>This script revoked the changes made for the purposes of articles 5 and 6,
but the changes for article 10 overlap with changes for (active) articles 8
and 9, so we will live with those being incorrect until Ordnance Survey
release hopefully fixed boundaries in October.</p>

<p>Boundaries W05000993, W04000981, W05000997, W04000984, W05000995, and
W05000996 were deleted, with W05000771, W04000761, W05000779, W04000767,
W05000777, and W05000777 reinstated.</p>

<h3>Changes and additions since 2010</h3>

<ul>

<li>22, May 2014: May 2014 Boundary-Line. Ordnance Survey reverted a change to
South Tynedale's ONS code they'd made in October 2013. Six boundaries were
invalid and fixed manually. The following councils were redrawn:
<ul>
<li>Hackney (2013/2795)
<li>Kensington & Chelsea (2014/25)
<li>Tower Hamlets (2013/1786)
<li>Milton Keynes (2014/22)
<li>Slough (2012/2769)
<li>Hart (2012/1395)
<li>Three Rivers (2014/243)
<li>West Oxfordshire (2012/2993)
<li>Torfaen (W2013/2156)
</ul>

<li>21, December 2013: October 2013 Boundary-Line. This updated the
Welsh Assembly regions and constituencies, Northumberland, Gateshead, East
Hertfordshire and Stevenage.

<li>20, May 2013: May 2013 Boundary-Line. Council boundary changes:
<ul>
<li>Buckinghamshire     2012/1396
<li>Cumbria             2012/3113
<li>Derbyshire          2012/2986
<li>Gloucestershire     2012/877
<li>Northamptonshire    2013/68
<li>Oxfordshire         2012/1812
<li>Somerset            2012/2984
<li>Staffordshire       2012/875
<li>Surrey              2012/1872
<li> Anglesey          2012/2676 (W290)
<li> Cornwall          2011/1
<li> Durham            2012/1394
<li> Northumberland    2011/2
</ul>
The following have had minor changes:
<ul>
<li>Cambridgeshire      2012/51
<li>Devon               2010/2788
<li>Essex               2011/2764
<li>Kent                2010/2108
<li>Leicestershire      2012/2854
<li>Norfolk             2012/3260 2013/220
<li>North Yorkshire     2012/3150 2013/221
<li>Shropshire        2012/2935 (minor)
</ul>

<li>19, March 2013: October 2012 Boundary-Line

<li>18, July 2012: Northern Ireland Output Areas

<li>17, May 2012: May 2012 Boundary-Line. Council boundary changes:
<ul>
<li> Glasgow/E Dunb.   2010/353 - new ONS codes
<li> Huntingdonshire   2010/684
<li> Epping Forest 2011/2764 (minor)
<li> Swansea       2011/2932
<li> Swindon       2012/2
<li> Hartlepool    2012/3
<li> Rugby     2012/4
<li> Broxbourne    2012/159
<li> Daventry      2012/160
<li> Rushmoor      2012/161
<li> Welwyn/St Albans  2012/667 - new ONS codes
</ul>

<li>16, April 2012: October 2011 Boundary-Line. Ordnance Survey had mislabelled
the IDs of two areas in May 2011, and these were manually fixed at this point.

<li>14/15, January 2011: October 2010 Boundary-Line, and 2011 Scottish
Parliament boundaries. A few wards/parishes were renamed. The following
councils had redrawn boundaries:
<ul>
<li> 2011/3   Cheshire East
<li> 2011/4   Cheshire West and Chester
<li> 2011/161 Bedford
<li> 2011/162 Central Bedfordshire
<li> 2011/163 Mansfield
<li> 2011/164 Northampton
<li> 2011/165 South Derbyshire
<li> 2011/166 Sedgemoor
<li> 2011/167 Stoke-on-Trent
<li> 2011/168 West Somerset
</ul>
The following councils had minor changes:
<ul>
<li> 2008/176  Maidstone
<li> 2008/178  Uttlesford
<li> 2008/748  2009/533 Stratford-on-Avon
<li> 2009/532  Tewkesbury
<li> 2009/538  North Norfolk
<li> 2009/540  Pendle
<li> 2009/542  Mid Devon
<li> 2009/543  East Devon
<li> 2009/2786 Kettering
<li> 2010/684  Huntingdonshire
<li> 2010/687  Wellingborough
<li> 2010/2108 Tonbridge and Malling
<li> 2010/2109 Kirklees
<li> 2010/2788 Teignbridge
<li> 2010/2943 North Somerset
<li> 2011/404  New Forest
<li> 2011/406  Rotherham
<li> S2010/353 East Dunbarton/ Glasgow
</ul>

<li>13, July 2010: May 2010 Boundary-Line. The main change was the new England
and Wales Parliamentary constituencies.

</ul>

{% endblock %}
