The main difference in generation 12 is that it contains the
pre-2010 England and Wales Parliamentary constituencies;
generation 14 contains the pre-2011 Scottish Parliament
constituencies. Only current Northern Ireland constituencies
are present; if you need pre-2010 UK Parliament NI
constituencies, or pre-2011 Northern Ireland Assembly
constituencies, you can work it out from the wards and the 2003
SNAC file in the data/ directory.
</dd>

<dt>Technical queries</dt>
<dd>If you have any technical queries with the API, please
contact us at <a href="mailto:mapit&#64;mysociety.org">mapit&#64;mysociety.org</a>.
