<section id="usage-licence">

<h3>Usage &amp; Licence</h3>

<p>As a UK registered charity our legal status only allows this
service to be used free of charge by other registered charities, or
individuals working unpaid on non-profit projects. The free usage
limit for non-profit users is 50,000 calls to the API per year. All
other uses need to <a href="/licensing">acquire a licence</a>.</p>

<p>To maintain quality of service for our own websites, as well as our
API users, this service is rate limited to an average of 1 call per
second in a rolling 3 minute period.</p>

<p>If you use this service, you must attribute OS/RM/ONS as per their licences.
We also ask that all non-profit users attribute MapIt at the point of use on
sites or apps. Attribution should use the text &ldquo;Powered by MapIt&rdquo;,
with a link back to this page.</p>

</section>
