<p>MapIt is a service that maps UK postcodes and geographical points to
administrative areas. It&rsquo;s useful for anyone who has a postcode or
co-ordinates of a point in the UK, and needs to find out what region,
constituency, or council it lies within. It&rsquo;s also great for looking up
the shapes of all those boundaries.</p>

<p>Charitable, low volume use of this service is free &ndash;
<a href="/licensing">read more</a>.<br>You can
<a href="https://github.com/mysociety/mapit">download the source
on Github</a>.<br>Need a licence?
<a href="/licensing">Read more</a>.</p>
