<p>This site is based on Kommune and Fylkes area info from
<a href="http://www.openstreetmap.org/">OpenStreetMap</a> and
Norwegian post code coordinates from
<a href="http://www.erikbolstad.no/geo/">Erik Bolstad</a>.</p>

<p id="copyright">This database contains OpenStreetMap data &copy;
<a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors,
<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA-2.0</a>.
The post code coordinate data is &copy; Erik Bolstad
(<a href="http://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>)</p>

