<p>MapIt is a service that maps postcodes and geographical points to
administrative areas. It&rsquo;s useful for anyone who has a postcode or
co-ordinates of a point in Norway, and needs to find out what fylke, kommune,
or more it lies within. It&rsquo;s also great for looking up the shapes of all
those boundaries.</p>

<p id="donate">NUUG is a member organisation for people interested in free
software, open standards and UNIX-like operating systems. Please
<a href="http://www.nuug.no/innmelding.shtml">become a member</a> if you want
to keep NUUG going.</p>
