{% extends "base.html" %}

{% block title %}Results{% endblock title %}

{% block content %}

{% include "areas.html" %}

<p>
<a href="/area/{{ area.id }}/example_postcode">Example postcode</a>
{% if area.children %}
| <a href="/area/{{ area.id }}/children.html">Children</a>
{% endif %}
| <a href="/area/{{ area.id }}/geometry">Geometry (JSON)</a>
| <a href="/area/{{ area.id }}/touches.html">Touching areas</a>
| <a href="/area/{{ area.id }}.kml">KML</a>

<h2>Codes</h2>

<ul>
{% for type, code in area.all_codes.items %}
<li>{{ type }}: {{ code }}
{% empty %}
<li>No codes found.
{% endfor %}
</ul>

{% endblock %}
