<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}{% endblock %}MaPit</title>
<link type="text/css" href="/static/css.css" rel="stylesheet">
</head>
<body>

<a href="http://www.mysociety.org/"><img id="logo" border=0 src="/static/mysociety_smT.png" alt="mySociety"></a></h1>

<blockquote>
&ldquo;Gentlemen, we can rebuild him. We have the technology. We can make him better than he was before. Better. Stronger. Faster.&rdquo;
</blockquote>

<h1>mapit.mysociety.org</h1>

{% block content %}
{% endblock %}

<div id="footer">
Built by Matthew Somerville. Pictures from Wikimedia Commons
(<a href="http://commons.wikimedia.org/wiki/File:Liquid_filled_compass.jpg">background</a>).
Hosted by <a href="http://www.easynet.net/publicsector/">EasyNet</a>.
<br>
<a href="http://www.djangoproject.com/"><img align="middle" src="http://media.djangopony.com/img/small/badge.png" border="0" alt="Django powered"></a>
</div>

</body>
</html>

