<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block fulltitle %}{% block title %}{% endblock %} - MaPit{% endblock %}</title>
<link type="text/css" href="/static/css.css" rel="stylesheet">
</head>
<body>

<a href="http://www.mysociety.org/"><img id="logo" border=0 src="/static/mysociety_smT.png" alt="mySociety"></a></h1>

<blockquote>
&ldquo;Gentlemen, we can rebuild him. We have the technology. We can make him better than he was before. Better. Stronger. Faster.&rdquo;
</blockquote>

<h1>mapit.mysociety.org</h1>
<span><a href="/">Documentation</a></span>

{% block content %}
{% endblock %}

<div id="footer">
Built by Matthew Somerville. Pictures from Wikimedia Commons
(<a href="http://commons.wikimedia.org/wiki/File:Liquid_filled_compass.jpg">background</a>).
Hosted by <a href="http://www.easynet.net/publicsector/">EasyNet</a>.
<br>
<a href="http://www.djangoproject.com/"><img align="middle" src="http://media.djangopony.com/img/small/badge.png" border="0" alt="Django powered"></a>

<p>This database contains Ordnance Survey data © Crown copyright and database right 2010;
<br>Royal Mail data © Royal Mail copyright and database right 2010 (Code-Point Open);
<br>Office for National Statistics data © Crown copyright and database right 2010 (NSPD Open) and © Crown copyright 2004 (Super Output Areas).
<br>Great Britain non-SOA data may be used under the terms of the
<a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/licence/">OS OpenData licence</a> (PDF).
<br>Northern Ireland data may be used under the terms of the
<a href="http://www.ons.gov.uk/about-statistics/geography/products/geog-products-postcode/nspd/nspd-open-licence.doc">NSPD Open licence</a> (Word).
<br>Super Output Area data may presumably be used under OS OpenData and the
<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/open-government-licence.htm">Open Government Licence</a>.

</div>

</body>
</html>

