{% extends "base.html" %}

{% block content %}

<p>MaPit is our database and web service that maps
<strong>postcodes</strong> and <strong>points</strong> to current or past
administrative area information and polygons for <strong>all</strong> the
United Kingdom. It has been rewritten from the
ground up in GeoDjango and PostGIS, providing us with a large array of
improvements including speed, a lovely admin interface, and much easier
updating. The source code is
<a href="http://github.com/mysociety/mapit">available on GitHub</a>.

<p id="donate">mySociety is run by a registered charity &ndash; please
<a href="http://www.mysociety.org/donate/">donate</a> to help keep us going and
to be able to continue to do things like this!</p>

<p>Another notable benefit is that this new version has been filled with only
totally open data, so you can be secure that you can reuse the data from this
site under the minimal terms of the licences given below. It is based on
<a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/">OS OpenData</a>
Boundary-Line and Code-Point for Great Britain, and
<a href="http://www.ons.gov.uk/about-statistics/geography/products/geog-products-postcode/nspd/">NSPD Open</a>
for Northern Ireland. You can download raw copies of these datasets from
our <a href="http://parlvid.mysociety.org:81/os/">data mirror</a>, which
you can then use in your own copy of this service.

<p id="copyright">This database contains Ordnance Survey data © Crown copyright and database right 2010;
Royal Mail data © Royal Mail copyright and database right 2010 (Code-Point Open);
National Statistics data © Crown copyright and database right 2010 (NSPD Open).
Great Britain data may be used under the terms of the <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/licence/">OS OpenData licence</a> (PDF).
Northern Ireland data may be used under the terms of the <a href="http://www.ons.gov.uk/about-statistics/geography/products/geog-products-postcode/nspd/nspd-open-licence.doc">NSPD Open licence</a> (Word).

<h2>API</h2>

<p>Non-commercial, low-volume use of this service is free. For commercial or
high-volume usage, please <a href="http://www.mysociety.org/contact/">contact us</a>
about using the service, by licensing or by helping you install your own version.</p>

<p>All calls below are made to http://mapit.mysociety.org/.
By default, calls will return active areas; for some calls you may specify
a previous generation to look up instead. The main difference in
generation 12 is that it contains the pre-2010 England and Wales Parliamentary
constituencies (it doesn't hold pre-2010 Northern Ireland constituencies, but
they were coterminious with the Northern Ireland Assembly constituencies, so
you can just use them instead).

Whenever an area is returned from MaPit, it is as a dictionary with the
following keys: id, name, country, type, parent_area, generation_low,
generation_high, codes.</p>

<div id="col1">
<h3>By postcode</h3>

<a href="http://commons.wikimedia.org/wiki/File:EnglandAdminCountiesNumbered.png"><img src="/static/englandS.png" align="right" alt="" border="0"></a>
<ul>

<li>/postcode/<i>[postcode]</i> &ndash; information on a particular postcode,
including its location in both National Grid and WGS84 latitude/longitude, and
the areas it is contained within. You may specify a previous generation as a
?generation=N parameter.

<li>/postcode/partial/<i>[partial postcode]</i> &ndash; location information on the
centroid of a partial postcode.

</ul>

<h3>Multiple areas</h3>
<a href="http://commons.wikimedia.org/wiki/File:Northern_Ireland_location_map.svg"><img src="/static/niS.png" align="right" alt="" id="nipic" border="0"></a>

<ul>

<li>/areas/<i>[area IDs, separated by commas]</i> &mdash; information on more than one
area at once, as a dictionary indexed by area ID.

<li>/areas/<i>[area IDs, separated by commas]</i>/geometry &ndash; all the geometry
information you would get from single geometry calls.

<li>/areas/<i>[type OR types]</i> &ndash; all the areas in a specific area type
or types (separated by commas). You may specific a minimum generation with the
min_generation parameter. The current list of types is: 
<small>CTY (county council), CED (county ward), COI (Isles of Scilly), COP (Isles of Scilly parish),
CPC (civil parish), DIS (district council), DIW (district ward), EUR (Euro region),
GLA (London Assembly), LAC (London Assembly constituency), LBO (London borough),
LBW (London ward), LGD (NI council), LGE (NI electoral area), LGW (NI ward),
MTD (Metropolitan district), MTW (Metropolitan ward), NIE (NI Assembly constituency),
SPC (Scottish Parliament constituency), SPE (Scottish Parliament region),
UTA (Unitary authority), UTE (Unitary authority electoral division),
UTW (Unitary authority ward), WAC (Welsh Assembly constituency),
WAE (Welsh Assembly region), WMC (UK Parliamentary constituency)</small>.

<li>/areas/<i>[name]</i> &ndash; all areas that start with the specified text. You
may restrict results to a type or types with the type parameter (as always,
multiple separated by commas), or expand to previous generations with the
min_generation parameter.

</ul>
</div>
<div id="col2">
<h3>By point</h3>

<a href="http://commons.wikimedia.org/wiki/File:ScotlandCountiesNumbered.png"><img src="/static/scotlandS.png" align="right" alt="" border="0"></a>
<p>A SRID is a unique number referring to a particular co-ordinate system; the
ones you probably are interested in are 27700 for British National Grid, 4326
for WGS84 lon/lat, and 29902 for the Irish National Grid. You can restrict
results to particular area types with a type parameter (multiple types
separated by commas), and have results for a previous generation with a
generation parameter. Note that x,y means longitude,latitude.</p>

<ul>

<li>/point/<i>[SRID]</i>/<i>[x]</i>,<i>[y]</i> &ndash; the areas covering the particular point.

<li>/point/<i>[SRID]</i>/<i>[x]</i>,<i>[y]</i>/bb &ndash; the areas whose
bounding boxes cover the particular point.

</ul>

<h3>By area ID</h3>

<a href="http://commons.wikimedia.org/wiki/File:WalesNumbered.png"><img src="/static/walesS.png" align="right" alt="" border="0"></a>
<ul>

<li>/area/<i>[area ID]</i> &amp; /area/ons/<i>[ONS code]</i> &ndash; information on a particular area. 

<li>/area/<i>[area ID]</i>/example_postcode &ndash; a random postcode within the area specified.

<li>/area/<i>[area ID]</i>/children &ndash; all the children of a particular area (e.g. all
the <a href="http://mapit.mysociety.org/area/2236/children">electoral divisions of a county council</a>).

<li>/area/<i>[area ID]</i>/geometry &ndash; geometry information on the area including its centroid, extent and area.

<li>/area/<i>[area ID]</i>/touches &ndash; all the areas of the same type that border the selected area.

<li>/area/<i>[area ID]</i>.<i>[kml|json|wkt]</i> &ndash; the actual geometry of the area, in the specified format.

</ul>

<h3>Generations</h3>

<ul>
<li>/generations &ndash; return a list of all generations. Note that only
generations 12 and 13 actually exist, apart from some council names in
generation 10 in order for <a href="http://www.fixmystreet.com/">FixMyStreet</a>
to show expired councils on its All Reports page.
</ul>

</div>

{% endblock %}
