<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>MaPit</title>
<style type="text/css">
body {
    font-family: Tahoma, Geneva, sans-serif;
}
li {
    margin-bottom: 0.5em;
}
#copyright {
    float: right;
    width: 15em;
    border: solid 2px #9999ff;
    padding: 0.25em;
    margin: 0 0 1em 1em;
}
</style>
</head>
<body>

<h1>mapit.mysociety.org</h1>

<p id="copyright">This database contains Ordnance Survey data © Crown copyright and database right 2010.
It contains Royal Mail data © Royal Mail copyright and database right 2010.
It contains National Statistics data © Crown copyright and database right 2010.
Great Britain data may be used under the terms of the <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/licence/">OS OpenData licence</a> (PDF).
Northern Ireland data may be used under the terms of the <a href="http://www.ons.gov.uk/about-statistics/geography/products/geog-products-postcode/nspd/nspd-open-licence.doc">NSPD Open licence</a> (Word).

<p>MaPit is our previously internal-only database that maps postcodes and
points to administrative areas and more. It has been rewritten from the ground
up in GeoDjango, with a PostGIS database, making it faster, sleeker, and much
easier to manage. The source code is <a
href="http://github.com/mysociety/mapit">available on GitHub</a>.

<p>MaPit has been filled with only totally open data, so you can be secure that
you can reuse the data from this site under the minimal terms of the licences
given below. It is based on OS OpenData Boundary-Line and Code-Point for Great
Britain, and NSPD Open for Northern Ireland.

<h2>API calls</h2>

<h3>By postcode</h3>

<ul>

<li>/postcode/[postcode] &ndash; information on a particular postcode,
including its location in both National Grid and WGS84 latitude/longitude, and
the areas it is contained within. By default, it returns the current areas we
have in the database; you may specify a previous generation as a ?generation=N
parameter. As of writing, we are on generation 13 for the May 2010 edition of
OS Boundary-Line. Generation 12 will return you pre-2010 Parliamentary
constituencies as its main difference.

<li>/postcode/partial/[partial postcode] &ndash; location information on the
centroid of a partial postcode.

</ul>

<h3>By area ID</h3>

<p>Whenever an area is returned from mapit, it is as a dictionary
with the following keys: id, name, country, type, parent_area,
generation_low, generation_high, codes.

<ul>

<li>/area/[area ID] &amp; /area/ons/[ONS code] &ndash; information on a particular area. 

<li>/area/[area ID]/example_postcode &ndash; a random postcode within the area specified.

<li>/area/[area ID]/children &ndash; all the children of a particular area (e.g. all
the wards of a district council).

<li>/area/[area ID]/geometry &ndash; geometry information on the area including its centroid, extent and area.

<li>/area/[area ID].[kml|json|wkt] &ndash; the actual geometry of the area, in the specified format.

</ul>

<h3>By point</h3>

<p>A SRID is a unique number referring to a particular co-ordinate system; the
two you probably are interested in are 27700 for British National Grid and 4326
for WGS84 lon/lat (oh, and 29902 for the Irish National Grid). You can restrict
results to particular area types with a type parameter (multiple types
separated by commas), and have results for a previous generation with a
generation parameter.</p>

<ul>

<li>/point/[SRID]/[x],[y] &ndash; the areas covering the particular point.

<li>/point/[SRID]/[x],[y]/bb &ndash; the areas whose bounding boxes cover the
particular point. In case the previous call is too slow.

</ul>

<h3>Multiple areas</h3>

<ul>

<li>/areas/[area IDs, separated by commas] &mdash; information on more than one
area at once, as a dictionary indexed by area ID.

<li>/areas/[area IDs, separated by commas]/geometry &ndash; all the geometry
information you would get from single geometry calls.

<li>/areas/[type OR types] &ndash; all the areas in a specific area type, such
as WMC or DIS, or types (separated by commas). You may specific a minimum
generation with the min_generation parameter (this is for FixMyStreet, which
needs to show expired councils on its All Reports page).

<li>/areas/[name] &ndash; all areas that start with the specified text. You
may restrict results to a type or types with the type parameter (as always,
multiple separated by commas), or expand to previous generations with the
min_generation parameter.

</ul>

</body>
</html>

