{% extends "base.html" %}

{% block title %}Results for &ldquo;{{ postcode.postcode }}&rdquo;{% endblock title %}

{% block content %}

<h2>{{ postcode.postcode }}</h2>

<p><a href="{{ json }}{{ postcode.postcode|urlencode }}">JSON of this data</a></p>

<ul>
<li>{% ifequal postcode.coordsyst "G" %}OSGB{% else %}IRE65{% endifequal %}
E/N: {{ postcode.easting }}, {{ postcode.northing }}
<li>WGS84 lat/lon: {{ postcode.wgs84_lat }}, {{ postcode.wgs84_lon }}
</ul>

{% if areas %}

<h3>Areas</h3>

{% include "areas.html" %}

{% endif %}

{% endblock %}
