{% extends "base.html" %}

{% block title %}Results for &ldquo;{{ postcode.postcode }}&rdquo;{% endblock title %}

{% block content %}

<h2>{{ postcode.postcode }}</h2>
<a href="{{ json }}{{ postcode.postcode|urlencode }}">JSON of this data</a>

<ul>
{% if postcode.coordsyst %}
<li>{% ifequal postcode.coordsyst "G" %}OSGB{% else %}IRE65{% endifequal %}
E/N: {{ postcode.easting }}, {{ postcode.northing }}
<li>WGS84 lat/lon: <a href="http://maps.google.co.uk/maps?q=loc:{{ postcode.wgs84_lat }},{{ postcode.wgs84_lon }}">{{ postcode.wgs84_lat }}, {{ postcode.wgs84_lon }}</a>
{% else %}
<li>No location information.
{% endif %}
</ul>

<h3>Areas</h3>
{% include "areas.html" %}

{% endblock %}
