---
layout: default
---

<div class="page-wrapper">
  <div class="page">

      {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
      {% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
      {% assign previous="" %}
      <ul class="breadcrumb">
      {% if num_parts == "-1" %}
      {% elsif num_parts == "0" %}
        <li><a href="/">Home</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
        {% for unused in page.content limit:num_parts %}
          {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
          {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
          <li><a href="{{ previous }}/">{{ first_word | capitalize }}</a></li>
          {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
        {% endfor %}
      {% endif %}
      </ul>

      <div class="main-content-column">
        <main role="main" class="main-content">
          {{ content }}
        </main>
      </div>

    <div class="secondary-content-column">
      <nav class="sidebar">
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><h2><a href="{{ site.baseurl }}/install/">Installing MapIt</a></h2>
            <ul>
              <li><a href="{{ site.baseurl }}/install/install-script">Install script</a></li>
            </ul>
          </li>
          <li><h2><a href="{{ site.baseurl }}/import/">Importing data</a></h2>
            <ul>
              <li><a href="{{ site.baseurl }}/import/boundaries/">Boundaries</a>
              <li><a href="{{ site.baseurl }}/import/postal-codes/">Postal codes</a>
              <li><a href="{{ site.baseurl }}/import/gadm/">From GADM</a>
              <li><a href="{{ site.baseurl }}/import/uk/">UK data (Ordnance Survey / ONSPD)</a>
              <li><a href="{{ site.baseurl }}/import/norway/">Norway data (OSM / N5000)</a>
              <li><a href="{{ site.baseurl }}/import/global/">Global (OSM)</a>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/how-data-is-stored/">How data is stored</a>
          <li><a href="{{ site.baseurl }}/view-multiple/">Visualize multiple areas</a>
        </ul>
      </nav>
    </div>
</div>

