<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block fulltitle %}{% block title %}{% endblock %} - MaPit{% endblock %}</title>
<link type="text/css" href="/static/css.css" rel="stylesheet">
{% if norobots %}
<meta name="robots" content="noindex, follow">
{% endif %}
</head>
<body>

<div id="header" role="banner">
<div id="logo" align="center"><a href="http://www.nuug.no/">NUUG</a> and<br><a href="http://www.mysociety.org/"><img border=0 src="/static/mysociety_smT.png" alt="mySociety"></a></div>

<blockquote>
&ldquo;Gentlemen, we can rebuild him. We have the technology. We can make him better than he was before. Better. Stronger. Faster.&rdquo;
</blockquote>

<h1>{{ request.META.HTTP_HOST|default:"MaPit" }}</h1>
<span><a href="/">Documentation</a></span>
</div>

<div id="content" role="main">
{% block content %}
{% endblock %}
</div>

<div id="footer" role="contentinfo">
Built by Matthew Somerville. Pictures from Wikimedia Commons
(<a href="http://commons.wikimedia.org/wiki/File:Liquid_filled_compass.jpg">background</a>).
Hosted by the University of Oslo.
<br>
<a href="http://www.djangoproject.com/"><img align="middle" src="http://media.djangopony.com/img/small/badge.png" border="0" alt="Django powered"></a>

<p>This database contains OpenStreetMap data ©
<a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors,
<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA-2.0</a>.
<br>N5000 data is © Norwegian Mapping Authority (Statens kartverk)
(<a href="http://creativecommons.org/licenses/by-sa/3.0/no/">CC-BY-SA-3.0</a>).</p>

</div>

</body>
</html>

